:root {
  --main-color: #414141;

  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  font-weight: 400;

  /*
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  */
}

body {
  margin: 0;
}

.wrap-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  color: var(--main-color)
}

.container {
  max-width: 75rem;
}

.search__output {
  padding: 1rem;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
*/